@import '../../style/partials/global';
@import '../../style/partials/variable';

.personal {
    &-title {
        font-size: 20px;
        text-align: center;
        padding-bottom: 10px;
        color: $F-personal;
        position: relative;
        &:before {
            content: '';
            display: block;
            width: 200px;
            height: 5px;
            background-color: $F-personal;
            position: absolute;
            left: 0;
            top: 40%;
        }
        &:after {
            content: '';
            display: block;
            width: 200px;
            height: 5px;
            background-color: $F-personal;
            position: absolute;
            right: 0;
            top: 40%;
        }
    }
    &-projects {
        margin: 24px;
        display: flex;
        justify-content: center;
        .personal {
            width: 50%;
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        .engine-logo {
            width: 150px;
            margin-bottom: 20px;
        }
        ul {
            list-style: none;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            li {
                margin: 15px 25px;
                width: 250px;
                display: flex;
                flex-direction: column;
                .img {
                    width: 250px;
                    height: 260px;
                    border: 3px solid $border;
                    border-radius: 10px;
                    overflow: hidden;
                    transition: 0.2s ease-in-out;
                    img {
                        object-fit: cover;
                        width: 100%;
                        height: 100%;
                    }
                    &:hover {
                        transform: scale(1.05);
                    }        
                }
                .pers-title {
                    margin-top: 10px;
                    padding-left: 5px;
                    color: green;
                    font-size: 22px;
                } 
            }
        }
    }
}